$primary-color: #003c6c;
$text-color: #ffffff;

.header{
  //height: 400px;
  height:50vh;
  min-height: 500px;
}

.background{
  background-color: $primary-color;
  height: 100%;
  width: 100%;

    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    -o-transform-origin: 0;
    transform-origin: 0;
    overflow: hidden;
}

.title-text{
  color: $text-color;
   padding-top: 12%;
  text-align: center;
  font-size: 8em;
}

.sub-text{
  color: $text-color;
  text-align: center;
  font-size: 4em;
  margin-top: -5px;
}

@media screen and (max-width: 767px) {
    .title-text{
        padding-top: 12vh;
        font-size: 6em;
      }

      .sub-text{
        font-size: 3em;
      }

      .header{
        min-height: 350px;
      }
}
