$primary-color: #003c6c;
$white: #ffffff;


.solid{
  background: $primary-color !important;
  border-color: $primary-color;

}

.stuff{
  background: $primary-color !important;
  border-color: $primary-color;
  -webkit-box-shadow: 0px 0px 0px;
  box-shadow: 0px 0px 0px;
}

.navbar-brand {
  color: $white !important;
}

.nav-items{
  float: right;
}

.nav-items a{
  color: $white !important;
  text-shadow: 0px 0px 0px !important;
}

.navbar-toggle .icon-bar{
  background-color: $white !important;
}
