$text-color: #003c6c;

.work{
  width:85%;
  margin: auto;
  margin-top: -4rem;
}

.work-title{
  color: $text-color;
  text-align: right;
  font-size: 45px;
  font-weight: 400;
}

.test{
  height: 1000px;
}


@media screen and (max-width: 767px) {
  .work-title{
    padding-top: 3rem;
    text-align: center;
  }
}
