.project{
  display: block;
position: relative;
// max-width: 52rem;
max-width: 500px;

margin: 0 auto 4rem auto;
padding: 0;
perspective: 1000px;
color: #fff;
}

.project-image{
  width: 100%;
  height: 100%;
}

.project-figure{
  box-shadow: 0 2rem 4rem -2rem #555754;
}

// .project-shine{
//   position: absolute;
//     top: 0;
//     left: 0;
//     overflow: hidden;
//     width: 100%;
//     height: 100%;
//
// }

// .sub-shine{
//   position: absolute;
// top: -50%;
// left: -50%;
// width: 200%;
// height: 200%;
// background-image: linear-gradient(45deg, #232323 0%, rgba(255, 255, 255, 0.14) 50%, transparent 100%);
// }
